*~
.org-id-locations
.persistent-scratch
/ac-comphist.dat
/predictive
/session.10a07f73f2d18a404813861152712474900000019140037
ac-dict/
auto-save-list/
backups/
boot.el
elpa
lisp/
network-security.data
notes.org
old_init_pieces.el
ottconfig
snippets/
tramp
